{% set page_title = "app.index.title" | trans %}
{% extends "base.html.twig" %}

{% block body %}

{% if name is not null %}
	<a href="{{ path("app_hello_get", {name : name})}}" class="btn btn-secondary">Bonjour</a>
{% endif %}

{% if can_create_post %}
	<a href="{{ path('app_post_create_get', )}}" class="btn btn-primary mb-2">➕​ Création</a>
{% endif %}

<div class="row">
	<div class="col-md-12">
		<div class="table-responsive">
			<table class="table table-bordered table-sm table-striped">
				<thead>
					<tr>
						<th>Titre</th>
						<th>Publié le :</th>
					</tr>
				</thead>
				<tbody>
					{% for post in posts %}
					<tr>
						<td><a href="{{ path('app_post_show_post', {id: post.id}) }}">{{ post.title }}</a></td>
						<td>{{ post.publishat|date('d/m/Y H:i:s') }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}
